server:
  port: 8086
spring:
  application:
    name: payment-service
  datasource:
    url: jdbc:postgresql://localhost:5432/splitwise
    username: admin
    password: admin123
  jpa:
    hibernate:
      ddl-auto: update

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
  show-actuator: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
---
spring:
  config:
    activate:
      on-profile: docker
  datasource:
    url: jdbc:postgresql://postgres:5432/splitwise
eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/
